<div class="portfolio">

  <h2>Portfolio</h2>

  <div class="port-wrap">

    <div class="card-wrap">

      <div class="card">
        <img src="img/img-6.webp" alt="Project 1">
        <h4>Project 1</h4>
      </div>

      <div class="card">
        <img src="img/img-5.webp" alt="Project 2">
        <h4>Project 2</h4>
      </div>

      <div class="card">
        <img src="img/img-4.webp" alt="Project 3">
        <h4>Project 3</h4>
      </div>
    </div>


    <div class="card-wrap-2">
      <div class="card">
        <img src="img/img-7.webp" alt="Project 4">
        <h4>Project 4</h4>
      </div>

      <div class="card">
        <img src="img/img-8webp.webp" alt="Project 5">
        <h4>Project 5</h4>
      </div>

      <div class="card">
        <img src="img/img-9.webp" alt="Project 6">
        <h4>Project 6</h4>
      </div>
    </div>
  </div>

</div>