<article>
  <h2>The Value of Money</h2>
  <div class="article-display">
    <img src="img/img-1.webp" alt="">
    <p>Most economists are in agreement that the inflation in the United States during the past three years has been
      the worst since the early 1940s, taking account of both severity and duration. But they cannot agree on the nature
      of the inflatio that is engulfing the American economy. To some, inflation denotes a spectacular rise in consumer
      prices; to others, an excessive aggregate demand; and to at least one economist, it is the creation of new money
      by our monetary authorities. This disagreement among economists is more than an academic difference on the meaning
      of a popular term. A review of some basic principles of economics that are applicable to money may
      shed light on the problem. Hans F. Sennholz(1969), The Value Of Money,
      https://www.citationmachine.net/apa/cite-a-website/new</p>
  </div>


  <h2>GMO Food</h2>
  <div class="article-display">
    <img src="img/img-2.webp" alt="">
    <p>Robert Goldberg sags into his desk chair and gestures at the air. ”Goldberg, a plant molecular biologist at
      the University of California, Los Angeles, is not battling psychosis. He is expressing despair at the relentless
      need to confront what he sees as bogus fears over the health risks of genetically modified (GM) crops.
      Particularly frustrating to him, he says, is that this debate should have ended decades ago, when researchers
      produced a stream of exonerating evidence: “Today we're facing the same objections we faced 40 years ago.” 
      Freedman, D. H. (2024, February 20). The truth about genetically modified food. Scientific American. https://www.scientificamerican.com/article/the-truth-about-genetically-modified-food/</p>
  </div>


  <h2>The View of World in 2100</h2>
  <div class="article-display">
    <img src="img/img-3.webp" alt="">
    <p>Though humans have adapted to these extremes, they do not support large populations. More targeted questions for 2100 may be: How many people can the planet support? How many will have access to technological adaptation strategies, such as floating cities? Does the human species have the ability to maintain planet-supporting infrastructure? Humans have, always, experienced changing climates and harsh weather; it is part of our very nature. In the temperate, mostly stable climate of the past 10,000 years, we have grown accustomed to large and small adaptations. Holdship, D. (2021, June 26). Will the Earth be habitable in 2100?. Michigan Today. https://michigantoday.umich.edu/2021/06/25/will-the-earth-be-habitable-in-2100/ </p>
  </div>
</article>